@media (max-width: 760px) {
    
    *{
        overflow-x: hidden;
    }
    
    .barraDeNavegaçao {
        width: 426px;
        overflow-y: hidden;

    }
    
    header {
        width: 426px; 
    }

    .menu li {
        font-size: 15px;
        margin-left: 2px;
    }

    .menu li a {
        padding: 0;
        margin-left: -22px;
        text-align: center;
    }

    #NV-Selecionados {
        margin-left: 38%;
    }
}