@charset "utf-8";

@media (max-width: 760px) {
    .barraDeNavegaçao {
        width: 390px;
        overflow-y: hidden;

    }
    
    header {
        max-width: 100%; 
    }

    .menu li {
        font-size: 15px;
        margin-left: px;
    }

    .menu li a {
        padding: 0;
        margin-left: -22px;
        text-align: center;
    }

    #NV-Selecionados {
        margin-left: 38%;
    }
}