@media (max-width: 760px) {
    
    *{
        overflow-x: hidden;
    }
    
    .barraDeNavegaçao {
        width: 426px;
        overflow-y: hidden;

    }

    .menu {
        font-size: 5px;
    }
    
    header {
        width: 426px; 
        font-size: 5px;
    }

    .menu li a {
        padding: 0;
        margin-left: -20px;
        text-align: center;
        font-size: 5px;
    }

    #NV-Selecionados {
        margin-left: 38%;
    }
}