body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .aha1 {
    background-color: #db0000;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  /* Navbar Geral */

.barraDeNavegaçao {
    overflow: hidden;
    background-color: #000;
  }
  
  .barraDeNavegaçao a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .caimento {
    float: left;
    overflow: hidden;
  }
  
  .caimento .botaodecair {
    font-size: 16px;
    border: none;
    outline: none;
    color: #fff;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .barraDeNavegaçao a:hover,
  .caimento:hover .botaodecair {
    background-color: #777;
  }
  
  .conteudoDeCaida {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .conteudoDeCaida a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .sobre-css {
    font-size: 16px;
    border: none;
    outline: none;
    color: #fff;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .caimento:hover .conteudoDeCaida {
    display: block;
  }
  
  .login {
    font-size: 16px;
    display: none;
  }
  .login:last-child {
    float: right;
    display: none;
  }
  
  /* Navbar da Empresa*/
  
  header{
    display: flex;
    justify-content: space-evenly;
    background-color: #000000;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    align-items: center;
    flex-wrap: wrap;
    
}


.menu {
    display: flex;
    margin-left: -17%;
    
     
}

.menu li {
    margin-right: 20px;
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    list-style: none;
    font-size: 23.05px;
}

.menu li a {
    display: block;
    padding: 10px;
     /*border: solid black;*/
     color: white;
     font-weight: bold;
     text-decoration: none;
     
}

.menu li :hover {
    color: red;
    transition: 0.6s;
    
}

.Logo-home {
    width: 200px;
    height: 55px;
    padding: 15px;
    padding-bottom: 10%;
    align-items: center;
}

#A-Selecionados {
  color: red;
}
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
  }
  
  .offer {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .offer h2 {
    color: #333;
  }
  
  .offer p {
    color: #666;
  }
  
  /* Footer */

  .pezao {
    background-color: #000000;
    color: #fff;
    padding: 40px 20px;
  }

  .pezao-conteudo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .section {
    flex: 1 1 300px;
    margin-right: 20px;
    margin-left: 15px;
  }

  .pezao-section:last-child {
    margin-right: 0;
  }

  .AlugAuto-h1 {
    padding-left: 15px;
    font-size: 50px;
    font-family: "Tilt Neon";
  }

  .section h3 {
    font-size: 28px;
    font-family: 'Tilt Neon';
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
  }

  .section ul {
    list-style: none;
    padding: 0;
  }

  .section ul li {
    margin-bottom: 10px;
    font-size: 22px;
    color: gray;
    font-family: 'Inter';
  }

  
  .section ul li a {
    margin-bottom: 10px;
    font-size: 22px;
    font-family: 'Inter';
    text-decoration: none;
    color: gray;
  }

  .section ul li a:hover {
    color: red;
    transition: 0.5s;
  }

  .section ul li img {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
  }
  #Visa {
    width: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    
  }

  #Mastercard {
    width: 15%;
  }

  #Paypal {
    width: 15%;
  }

  #Boleto {
    width: 15%;
  }


  .redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-icon {
    font-size: 36px;
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
  }

  .social-icon:hover {
    color: #ff2600;
  }
  