@charset "utf-8";

body, ul, li, p, html {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

a {
    text-decoration: none;

}


/* Navbar Geral */

.barraDeNavegaçao {
  overflow: hidden;
  background-color: #000;
}

.barraDeNavegaçao a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.caimento {
  float: left;
  overflow: hidden;
}

.caimento .botaodecair {
  font-size: 16px;
  border: none;
  outline: none;
  color: #fff;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.barraDeNavegaçao a:hover,
.caimento:hover .botaodecair {
  background-color: #777;
}

.conteudoDeCaida {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.conteudoDeCaida a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.sobre-css {
  font-size: 16px;
  border: none;
  outline: none;
  color: #fff;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.caimento:hover .conteudoDeCaida {
  display: block;
}

.login {
  font-size: 16px;
  display: none;
}
.login:last-child {
  float: right;
  display: none;
}

/* Navbar da Empresa*/

header{
    display: flex;
    justify-content: space-evenly;
    background-color: #000000b3;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    align-items: center;
    flex-wrap: wrap;
    
}


.menu {
    display: flex;
    margin-left: -17%;
    
     
}

.menu li {
    margin-right: 20px;
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.menu li a {
    display: block;
    padding: 10px;
     /*border: solid black;*/
     color: white;
     font-weight: bold;
}

.menu li :hover {
    color: red;
    transition: 0.6s;
}

.Logo-home {
    width: 200px;
    height: 55px;
    padding: 15px;
    padding-bottom: 10%;
    align-items: center;
}

/* Fundo da Área de Reserva inicial*/

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    z-index: -2;
}

.bg-car {
    width: 100%;
}

.h1-home {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #00000086;
    z-index: 1;
    width: 80%;
    max-width: 700px;
    margin: -51% auto;
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

/* Botão para o Primeiro Cadastro*/

.alugar-veiculos-button {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 25px;
    font-family: "Tilt Neon";
    transition: opacity 0.3s ease;
    margin-left: 43%;
    margin-top: 25%;
    z-index: 9998;
  }

  .alugar-veiculos-button:hover {
    background-color: #000000;
  }

  #opcoesAluguel{
    font-family: "Tilt Neon";
  }

  .opcoes-aluguel-veiculos {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-bottom: 15%;
    transform: translate(-50%, 40%);
    background: linear-gradient(49deg, rgba(0,0,0,1) 2%, rgba(77,0,0,1) 6%, rgba(204,0,0,1) 63%, rgba(255,0,0,1) 91%, rgba(255,0,0,1) 99%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 900px;
    height: 440px;
    padding: 40px;
    padding-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.9s ease;
    font-size: 20px;
    display: none;
}

.opcoes-aluguel-veiculos.active {
    display: block;
    opacity: 1;
    margin-bottom: 15%;

}

  .opcoes-aluguel-veiculos label,
  .opcoes-aluguel-veiculos select,
  .opcoes-aluguel-veiculos button {
    margin: 20px 0; 
    width: 40%; 
    box-sizing: border-box; 
  }

  .cidade-estado {
    height: 40px;
    border-radius: 20px;
    font-size: 15px;
    padding-left: 10px;
    font-family: "Tilt Neon";
  }

  /* Área de Serviços Especiais */
  .servicos-especiais #seguro {
    width: 40px;
    height: 40px;
  }

  .servicos-especiais #gps {
    width: 40px;
    height: 40px;
  }

  .servicos-especiais #cadeira-bebe {
    width: 40px;
    height: 40px;
  }

 
  .servicos-especiais {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 40px;
    font-family: "Tilt Neon";
    
  }

  .servicos-especiais label {
    margin-right: 10px; 
  }

  /* Datas de Retirada e Devolução*/

  #data-retirada {
    color: red;
    font-weight: bold;
    margin-right: 11.9%;
    text-align: left;
    height: 50px;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    font-size: 20px;
  }

  #data-devolucao {
    color: red;
    font-weight: bold;
    text-align: left;
    height: 50px;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    font-size: 20px;
    margin-top: -50%;
  }

  /* Botões de Seleção*/
  .btn-opcoes {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 5%;
  }

  .btn-ct {
    background-color: rgb(146, 142, 142);
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 20px;
    font-family: "Tilt Neon";
    height: 40px;
  }

  .btn-continue a{
    border-radius: 20px;
    border: white;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-family: "Tilt Neon";
    color: white;
  }

  
  .btn-continue :hover {
    background-color: #292424;
    border-radius: 20px;
    transition: 0.6s;
  }

  .btn-cancelar {
    height: 40px;
    font-size: 20px;
    background: transparent;
    border: none;
    font-family: "Tilt Neon";
  }

  .btn-cancelar a {
    color: white;
  }

  .btn-cancelar a:hover {
    color: #969090;
    transition: 0.6s;
  }

  /* Área do Video de Apresentação */

  .bg-video {
    margin-top: 65vh;
    margin-bottom: 15%;
    align-items: left;
    text-align: left;
    justify-content: left;
    background: linear-gradient(98.3deg, rgb(255, 0, 0) 10.6%, rgb(51, 43, 43) 97.7%);
    height: 600px;
    padding: 200px;
  }
  .video-st {
    position: absolute;
    z-index: 9999;
    border-radius: 20px;
    border: 2px solid white;
    padding: 10px;
  }
  
  .h1-video {
    color: #fff;
    text-align: right;
    padding: 5%;
    padding-bottom: 0%;
    font-size: 45px;
    font-family: "Tilt Neon";
    border-right: 4px, solid;
    width: 49ch;
    overflow: hidden;
    animation: typing 3s steps(50), blinking 0.5s infinite step-end alternate;

  }


  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blinking {
    50% {
      border-color: transparent;
    }
  }

  
  .p-video {
    color: #fff;
    margin-top: 15%;
    position: absolute;
    font-family: "Tilt Neon";
  }

  /* Tipos de Veículos */

  .bg-encontre {
    margin-top: 0%;
    height: 800px;
  }
  
  .h1-encontre {
    font-family: "Tilt Neon";
    margin: 10%;
    font-size: 50px;
  }
  
  .container {
    max-width: 1200px;
    max-height: 190px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card {
    background-color: #0000006b;
    display: grid;
    color: #ffffff;
    font-family: "Tilt Neon";
    text-align: center;
    font-size: 12px;
    padding-bottom: 2px;
    width: 100px;
    height: 140px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
  }

  .card #caminhonetes {
    margin-left: -7px;
  }
  
 
  .card.active {
    border: 2px solid red;
  }
  

  .texto-adicional {
    display: none; 
  }
  
  .card.active .texto-adicional {
    display: block; 
  }
  
  .card:hover {
    background-color: #000000;
    transition: 0.2s;
  }
  
  .card2 {
    background-color: #ffffff6b;
    display: grid;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: left;
    padding-bottom: 2px;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
  }
  #car-simples {
    width: 95px;
  }

  #texto-car-simples{
    margin-top: 15%;

  }

  .texto-adicional {
    font-family: "Tilt Neon";
    text-align: left;

  }

  #texto-car-simples2 {
    font-family: "Tilt Neon";
    text-align: left;
    margin-top: 15%;
  }

  #texto-car-simples3 {
    margin-top: 15%;
  }

  #texto-car-simples4 {
    margin-top: 15%;
  }

  #texto-car-simples5 {
    margin-top: 15%;
  }

  #texto-car-simples6 {
    margin-top: 15%;
  }

  #texto-car-simples7 {
    margin-top: 15%;
  }

  #texto-car-simples8 {
    margin-top: 15%;
  }

  /* Vantagens de usar a AlugAuto */

  .vantagens-servico {
    padding-left: 10%;
    padding-top: 25%;
    font-family: "Tilt Neon";
    font-size: 40px;
  }

  .container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 25vh;
    gap: 2px;
    margin-bottom: 15%;
  }

  .card2 {
    text-align: center;
    padding-top: 2px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    border: none;
    box-shadow: none;
  }

  .card2 h6 {
    padding-bottom: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  }

  .card2 p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    text-align: left;
    padding-left: 30px;

  }
  .card2 img {
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-left: 34%;
    padding-top: 30%;
    width: 100px;
    height: 100px;
  }

  /* Parceiros da Empresa */

  .parceiros {
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #a7b904;
    margin-bottom: 20%;
    height: 600px;
  }

  .h1-parceiros {
    font-size: 50px;
    color: #fff;
    padding-top: 10vh;
    font-family: "Tilt Neon";
  }

  .card-parceiros {
    border: #ffffff solid 2px;
    border-radius: 20px;
    max-width: 350px;
    display: inline-block;
    margin: 20px;
  }

  .card-parceiros img {
    padding: 25px;
    max-width: 300px;
  }

  #Turis {
    height: 225px;
    width: 290px;
  }

  /* Boxes de Ofertas */

  .Boxes-ofertas {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 5%;
    margin: 250px;
  }

  .boxes-card {
    background-color: #eeecec;
    border-radius: 5px;
    width: 600px;
    height: 250px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: inline-block;
  }

  .boxes-card h1 {
    font-family: "Inter";
    display: block;
    padding-right: 70px;
  }

  .boxes-card p {
    font-family: "Inter";
    padding-bottom: 40px;
  }

  .img-cll {
    padding-left: 59%;
    margin-top: -10%; 
  }

  .img-cll img {
    display: block;
    width: 290px;
    height: 180px;
  }

  .email-area {
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .email-input {
    flex: 1;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
  }
  
  .enviar {
    padding: 10px 20px;
    background-color: red;
    border: none;
    border-radius: 0 5px 5px 0;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }

  .enviar:hover {
    transition: 0.6s;
    background-color: #000;
  }

  /* Footer */

  .pezao {
    background-color: #000000;
    color: #fff;
    padding: 40px 20px;
  }

  .pezao-conteudo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .section {
    flex: 1 1 300px;
    margin-right: 20px;
    margin-left: 15px;
  }

  .pezao-section:last-child {
    margin-right: 0;
  }

  .AlugAuto-h1 {
    padding-left: 15px;
    font-size: 50px;
    font-family: "Tilt Neon";
  }

  .section h3 {
    font-size: 28px;
    font-family: 'Tilt Neon';
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
  }

  .section ul {
    list-style: none;
    padding: 0;
  }

  .section ul li {
    margin-bottom: 10px;
    font-size: 22px;
    color: gray;
    font-family: 'Inter';
  }

  
  .section ul li a {
    margin-bottom: 10px;
    font-size: 22px;
    font-family: 'Inter';
    text-decoration: none;
    color: gray;
  }

  .section ul li a:hover {
    color: red;
    transition: 0.5s;
  }

  .section ul li img {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
  }
  #Visa {
    width: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    
  }

  #Mastercard {
    width: 15%;
  }

  #Paypal {
    width: 15%;
  }

  #Boleto {
    width: 15%;
  }


  .redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-icon {
    font-size: 36px;
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
  }

  .social-icon:hover {
    color: #ff2600;
  }